nav {
  margin-bottom: 80px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: none;
}

#dropdown-div:hover, #dropdown-div:focus {
  background-color: white;
}
